.header {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 24px;
  margin-left: 1em;
}

.app-body {
  display: flex;
  width: 100%;
}

.cv-form {
  width: 50%;
}
.cv-form h3 {
  margin-left: 1em;
  width: 90%;
}
.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  width: 90%;
  padding: 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}
.form-container input {
  width: 95%;
  padding: 6px 10px;
  margin-bottom: 0.5em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.form-container textarea {
  width: 95%;
  height: 100px;
  padding: 6px 10px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  resize: none;
}
.add-btn {
  padding: 6px 8px;
  border-radius: 2px;
  border: none;
  background-color: rgb(102, 216, 102);
  color: black;
  float: right;
}
.add-btn:hover {
  background-color: rgb(42, 145, 42);
  color: white;
}

.del-btn {
  background-color: rgb(247, 111, 111);
  padding: 6px 8px;
  border-radius: 2px;
  border: none;
  margin-top: 0.5em;
}

.del-btn:hover {
  background-color: rgb(241, 25, 25);
  color: white;
}
