.App {
}
.header {
  width: 100%;
  margin: 0;
  border: 1px solid black;
}

.header h1 {
  font-size: 24px;
  margin-left: 1em;
}

.cv-body {
  display: flex;
  width: 100%;
  background-color: yellow;
}

.cv-form {
  width: 50%;
}
.cv-form h3 {
  margin-left: 1em;
}
.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  width: 90%;
  padding: 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}
.form-container input {
  width: 95%;
  padding: 6px 10px;
  margin-bottom: 0.5em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.form-container textarea {
  width: 95%;
  height: 100px;
  padding: 6px 10px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  resize: none;
}

.cv-display {
  background-color: grey;
  width: 50%;
  height: 100vh;
  padding: 10px;
}
